<div class="forecastday-component">
	{{#forecast}}
		{{#each forecastday}}
			<div class="three columns weather-container">
				<div class="small_val" title="Weather">{{date}}</div>
				<img class="icon" alt="light rain" src="{{day.condition.icon}}" />
				<div class="small_val" title="Temp">{{day.avgtemp_c}} °C</div>
				<span class="weather-text">{{day.condition.text}}</span>
				{{#wind}}
				<div class="small_val" title="Wind">{{speed}} m/s</div>
				{{/wind}} {{#main}}
				<div class="small_val grey" title="Pressure">{{pressure}}</div>
				{{/main}}
			</div>
		{{/each}}
	{{/forecast}}
</div>
